spring:
  config:
    activate:
      on-profile: "local"

  flyway:
    baseline-on-migrate: true
    locations:
      - classpath:db/migration
      - classpath:db/seed/local
    baseline-version: 1
    enabled: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USER}
    password: ${LOCAL_DB_PASSWORD}

  data:
    redis:
      host: ${LOCAL_REDIS_HOST}
      port: 6379
      password: ${LOCAL_REDIS_PASSWORD}

logging:
  file:
    path: ./logs
  config: classpath:logback-spring.xml
  level:
    root: info