<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- Activate local Spring Profile -->
    <springProfile name="local">

        <!-- 변수값 설정 -->
        <property name = "LOG_LEVEL" value = "${log.config.level}"/>
        <property name = "LOG_PATH" value = "${log.config.path}"/>
        <!-- 로그 파일 패턴 -->
        <property name ="LOG_PATTERN" value = "%-5level %d{yyyy-MM-dd HH:mm:ss} [%X{requestId}] [%logger{0}:%line] --- [%thread] %msg%n"/>
        <!-- 콘솔 로그 패턴 -->
        <property name="CONSOLE_LOG_PATTERN"
                  value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %msg%n"/>

        <!-- Console Appender -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <root level = "${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <!-- Activate dev Spring Profile -->
    <springProfile name="dev">

        <!-- 변수값 설정 -->
        <property name = "LOG_LEVEL" value = "${log.config.level}"/>
        <property name = "LOG_PATH" value = "${log.config.path}"/>
        <!-- 로그 파일 패턴 -->
        <property name ="LOG_PATTERN" value = "%-5level %d{yyyy-MM-dd HH:mm:ss} [%logger{0}:%line] --- [%thread] %msg%n"/>
        <!-- 콘솔 로그 패턴 -->
        <property name ="CONSOLE_LOG_PATTERN" value = "[%d{yyyy-MM-dd HH:mm:ss.SSS}:%-3relative][%thread] %red(%-5level) %highlight(%logger{36}) - %msg%n"/>

        <!-- Console Appender STDOUT -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!-- Info File Appender -->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/log_file.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}:%-3relative][%thread] %-5level %logger{36} - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
        </appender>

        <!-- Error File Appender -->
        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 파일 명과 경로 설정 -->
            <file>${LOG_PATH}/error_file.log</file>
            <!-- Rolling 정책 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}.%i.error.json.gz</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>

            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp fieldName="@timestamp"/>
                    <logLevel fieldName="level"/>
                    <loggerName fieldName="logger"/>
                    <threadName fieldName="thread"/>
                    <message fieldName="message"/>
                    <mdc>
                        <includeMdcKeyName>requestId</includeMdcKeyName>
                    </mdc>
                    <stackTrace/>
                </providers>
            </encoder>
            <!-- ERROR level -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>

        <root level = "${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>

</configuration>