name: backend-deploy.yaml
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Create .env file from secret
        run: echo "${{ secrets.ENV_FILE_CONTENTS }}" > .env

      - name: Build with Gradle (skip tests)
        run: |
          chmod +x ./gradlew
          ./gradlew clean
          ./gradlew build -x test

      # Docker login
      - name: Docker Login to GHCR
        run: echo ${{ secrets.YY_GITHUB_PAT }} | docker login ghcr.io -u ${{ secrets.YY_GITHUB_USERNAME }} --password-stdin

      # Image Build and Push
      - name: Build and Push Docker Image
        run: |
          docker build -t ghcr.io/${{ secrets.ORG_NAME }}/spring-api:latest .
          docker push ghcr.io/${{ secrets.ORG_NAME }}/spring-api:latest

  transfer:
    name: Transfer
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Transfer docker-compose.yaml file to ec2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ./backend/docker/docker-compose.dev.yaml
          target: /home/ubuntu/

      - name: Transfer deploy directory file to ec2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ./backend/deploy/
          target: /home/ubuntu/

  deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    needs: transfer
    steps:
      - name: SSH into EC2 server and Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            mkdir -p ~/backend
            cd ~/backend
            
            echo "${{ secrets.ENV_FILE_CONTENTS }}" > .env
            
            echo "${{ secrets.YY_GITHUB_PAT }}" | docker login ghcr.io -u ${{ secrets.YY_GITHUB_USERNAME }} --password-stdin
            
            docker pull ghcr.io/${{ secrets.ORG_NAME }}/spring-api:latest
            
            export ORG_NAME=${{ secrets.ORG_NAME }}
            
            cd ~/backend/deploy
            chmod +x deploy.sh
            ./deploy.sh