name: Batch Deploy
on:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Create .env file from secret
        run: echo "${{ secrets.ENV_FILE_CONTENTS }}" > batch/.env

      # Docker login
      - name: Docker Login to GHCR
        run: echo ${{ secrets.YY_GITHUB_PAT }} | docker login ghcr.io -u ${{ secrets.YY_GITHUB_USERNAME }} --password-stdin

      # Image Build and Push
      - name: Build and Push Docker Image
        run: |
          cd batch
          docker build -t ghcr.io/${{ secrets.ORG_NAME }}/spring-batch:latest .
          docker push ghcr.io/${{ secrets.ORG_NAME }}/spring-batch:latest

  deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    steps:
      - name: SSH into EC2 server and Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            mkdir -p ~/batch
            cd ~/batch
            
            echo "${{ secrets.ENV_FILE_CONTENTS }}" > .env
            
            echo "${{ secrets.YY_GITHUB_PAT }}" | docker login ghcr.io -u ${{ secrets.YY_GITHUB_USERNAME }} --password-stdin
            
            docker pull ghcr.io/${{ secrets.ORG_NAME }}/spring-batch:latest
            
            # rm existing container
            docker stop spring-batch || true
            docker rm spring-batch || true
            
            # run new container
            docker run -d \
              --name spring-batch \
              --env-file .env \
              -p 8082:8080 \
              --restart unless-stopped \
              ghcr.io/${{ secrets.ORG_NAME }}/spring-batch:latest
            
            docker image prune -f